RewriteEngine On
RewriteRule ^about_us.html$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^accident.html$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^acquiring.html$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^contact_us.html$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^directions.html$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^fuel_id.html$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^fueling.html$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^index.html$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^mileage_logs_usage.html$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^off_campus_info.html$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/2009_letter.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/controllers_log.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/generic_11x85_log.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/generic_55x85_log.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/independent_shoppes.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/mileage.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/phys_plant_vehicle_acceptance_policy.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/ptab_agenda_20090923.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/ptab_agenda_20091118.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/ptab_agenda_20100203.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/ptab_agenda_20100324.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/ptab_agenda_20100915.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/ptab_agenda_20101110.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/ptab_agenda_20110406.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/ptab_agenda_20110921.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/ptab_minutes_20090408.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/ptab_minutes_20090923.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/ptab_minutes_20091118.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/ptab_minutes_20100203.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/ptab_minutes_20100324.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/ptab_minutes_20100915.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/ptab_minutes_20110216.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/ptab_minutes_20110406.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/ptab_minutes_20110921.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/ptab_minutes_20120208.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/ptab_minutes_20130918.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/ptab_minutes_20131113.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/ptab_minutes_20140212.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/ptab_minutes_20140416.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/request_fuel_card.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/umass_vendors.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^pdf/Vehicle_Acquisition_form.pdf$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^ptab.html$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^repairs.html$ http://umass.edu/transportation/fleet-vehicles [R,L]
RewriteRule ^Template.html$ http://umass.edu/transportation/fleet-vehicles [R,L]
