body
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#container{
  position: relative;
  text-align: left;
  margin: 0 auto;
  height: auto;
  border: solid #CCCCCC 1px;
  width: 800px;
}

#container #topbanner {
  border-bottom: 1px solid rgb(255, 255, 255); 
  margin: 0px; 
  padding: 8px 15px; 
  background-color: rgb(0, 0, 0); 
  text-align: right; 
  max-width: 800px;
}

#container #topbanner #banner_wordmark{
  border: 1pt none ; 
  float: left; 
  width: 146px;
}

#container #topbanner #banner_search{
  margin: 0pt; 
  padding: 0pt;
  font-size: 11px; 
}

#container #topbanner #banner_search #q{
  padding-left: 2px;
}

#container #banner{
  background-color: #FFFFFF;
  background-image: url(../images/temp_banner.jpg);
  background-repeat: no-repeat;
  width: 800px;
  height: 75px;
  border-bottom: 1px;
  border-bottom-color: #FFFFFF;
}

#container #banner a{
  display: block;
  height: 100%;
  width: 100%;
}

#container #topmenu {
  font-size: 10px;
  width: auto;
  height: auto;
  background-color: #999966;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 30px;
  text-align: left;
  letter-spacing: 1px;
}

#container #topmenu a {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  padding-left: 106px;
}

#container #topmenu a:hover {
  color: #CCCCCC;
}

#container #main_table{
  border-collapse: collapse;
  height: auto;
  width:800px; /*"800"*/
}

#container #main_table td{
  padding: 0px;
  border: 1px solid white;
  border-bottom: 1px solid #CCCCCC;
  border-left: none;
}

#container #main_table #left{
  font-size: 11px;
  vertical-align: top;
  width: 210px;
}

#container #main_table #right{
  /* align="left" valign="top" width="592"*/
  vertical-align: top;
  text-align: left;
  background-color: #EEEEEE;
  width: 592px;
  border-right: none;
}

#container #main_table  #left .left_menu_title {
  background-color: #666666;
  height: 20px;
  width: auto;
  padding: 5px 15px 2px 15px;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  vertical-align: middle;
}

#container #main_table #left #left_services {
  background-color: #999966;
}

#container #main_table #left #left_services  a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}

#container #main_table  #left #left_services a:hover {
  color: #CCCCCC;
}

#container #main_table #left #left_news {
  background-color: #CCCCCC;
  color: black;
}

#container #main_table #left #left_news a {
  text-decoration: none;
}

#container #main_table #left #left_news a:hover {
  text-decoration: underline;
}

#container #main_table #left #left_helpful_links {
  background-color: #FFFFFF;
  color: black;
}

#container #main_table #left #left_helpful_links  a {
  color: black;
  text-decoration: none;
}

#container #main_table #left #left_helpful_links a:hover {
  text-decoration: underline;
}

#container #main_table #left ul.left_nav {
  margin: 0;
  padding: 10px 15px;
  list-style-type: none;
}

#container #main_table #left .left_nav li{
  padding: 5px;
}

#container #main_table #left .fb_iframe_widget {
  margin: 0 20px 20px;
}

#container #main_table #right #page_title {
  background-color: #993334;
  height: 20px;
  padding: 5px 0px 3px 20px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  vertical-align: middle;
}

#container #main_table #right #page_text_field {
  height: auto;
  width: auto;
  text-align: left;
  font-size: 12px;
  color: black;
  line-height: 16px;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 20px;
  margin-top: 0px;
}

#container #main_table #right #page_text_field a {
  color: #990000;
  text-decoration: none;
}

#container #main_table #right #page_text_field a:hover {
  text-decoration: underline;
}

#container #footer_table{
  border: none;
  width: 800px; /*"800"*/
}

#container #footer_table td{
  padding: 0px;
  border-spacing: 0px;
  text-align: center;
}

#container #footer_table #footer #seal{
  height: 52px;
  width: 52px;
  clear: both;
}

#container #footer_table #footer {
  background-color: #FFFFFF;
  height: 120px;
  width: auto;
  text-align: center;
  margin-bottom: 0px;
  font-size: 9px;
  color: #999999;
}

#container #footer_table #footer a {
  color: #999999;
  text-decoration: none;
}

#container #footer_table #footer a:hover {
  text-decoration: underline;
}
