.contacts{
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;
  border: none;
}

.contacts tr td:first-child {
  width: 280px;
}

#container #main_table #right #page_text_field .contacts  tr{
  border: none;
}
#container #main_table #right #page_text_field .contacts  td{
  border: none;
}
#container #main_table #right #emails .link{
  width: 0px;
}
