#contacts{
  width: 450px;
  font-size: 12px;
  border-collapse: collapse;
  border: none;
}
#container #main_table #right #page_text_field #contacts  tr{
  border: none;
}
#container #main_table #right #page_text_field #contacts  td{
  border: none;
}
#container #main_table #right #contacts .number{
  width: 50px;
}
