#iframe{
  padding-top: 3px;
  position: relative;
  left: 33px;
  top: -23px;
  #top: -20px;
  height: 300px;
  width: 560px;
  border: 0px;
  text-align: center;
  overflow: visible;
}

#container #main_table #right #page_text_field {
  margin: 0px;
}